form {
    margin: 0 auto;
    padding: 18px 18px 24px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.045), 0 6px 24px 0 rgba(41, 41, 41, 0.025);
  }
  
  label {
  display: block;
  margin: 6px 0px 12px 0px;
  }
  
  input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  }
  
  .order {
    background-image: url('../assets/bg_pattern.png');
    background-repeat: repeat;
    background-size: 50%;
  }
  
  .order .container {
    padding: 72px 6%;
  }
  
  .order .container .section__desc {
    margin-top: 18px;
    margin-bottom: 52px;
  }
  
  form button {
    width: 100%;
    margin-top: 12px;
  }
  
  /*==========> LAPTOP / PC <==========*/
  @media only screen and (min-width: 800px) {
    .order {
      padding: 0 10%;
      background-size: 18%;
    }
    
    .order .container {
      /* max-width: 1080px; */
      max-width: 875px;
      margin: 0 auto;
      padding: 100px 0px 0px 0px !important;
    }
  
    form {
      margin: 24px 0;
      padding: 36px 18px 36px 18px;
    }
  
    input[type="text"] {
      width: 90%;
      }
  
    .input__container {
      display: flex;
      justify-content: space-between;
    }
  
    .input__container input {
      margin-left: 18px;
    }
  }